*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*PC Mode*/
@media (min-width: 992px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    h1#header{
        font-size: 175%;
        text-align: center;
        padding: 50px;
        margin: 50px;
    }
    .header{
        border: 1px solid black;
        font-size: 175%;
        float: right;
        width: 33.33%;
        overflow:hidden;
        text-align: center;
    }
    div#chicken .header{
        background-color: pink;
    }
    div#beef .header{
        background-color: brown;
    }
    div#sushi .header{
        background-color: yellow;
    }
    div#chicken{
        border: 1px solid black;
        background-color: gray;
        width: 30%;
        margin-left: 2%;
        margin-right:1.25%;
        display:inline-block;
    }
    p{
        clear: both;
        padding:15px;
    }
    div#beef{
        border: 1px solid black;
        background-color: gray;
        width: 30%;
        margin-left:1.25%;
        margin-right: 1.25%;
        display:inline-block;
        vertical-align: top;
    }
    div#sushi{
        border: 1px solid black;
        background-color: gray;
        width: 30%;
        margin-left:1.25%;
        margin-right:2%;
        vertical-align: top;
        display:inline-block;
    }
}
/*Tablet Mode*/
@media (min-width: 768px) and (max-width: 991px){
    *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }
    h1#header{
        font-size: 175%;
        text-align: center;
        padding: 50px;
        margin: 50px;
    }
    p{
        clear: both;
        padding:15px;
    }
    div#chicken .header{
        background-color: pink;
    }
    div#beef .header{
        background-color: brown;
    }
    div#sushi .header{
        background-color: yellow;
    }
    .header{
        border: 1px solid black;
        font-size: 175%;
        float: right;
        width: 33.33%;
        overflow:hidden;
        text-align: center;
    }
    div#chicken{
        border: 1px solid black;
        background-color: gray;
        width: 47%;
        margin-left:2%;
        margin-right: 1%;
        float:left;
    }
    div#beef{
        border: 1px solid black;
        background-color: gray;
        width: 47%;
        margin-left:1%;
        margin-right:2%;
        margin-bottom: 2%;
        float: right;
    }
    div#sushi{
        border: 1px solid black;
        background-color: gray;
        width: 96%;
        clear: both;
        margin-right: 2%;
        margin-left: 2%;
    }
}
/*Mobile Mode*/
@media (max-width: 767px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    div#chicken .header{
        background-color: pink;
    }
    div#beef .header{
        background-color: brown;
    }
    div#sushi .header{
        background-color: yellow;
    }
    p{
        clear: both;
        padding:15px;
    }
    h1#header{
        font-size: 175%;
        text-align: center;
        padding: 50px;
        margin: 50px;
    }
    .header{
        border: 1px solid black;
        font-size: 175%;
        float: right;
        width: auto;
        overflow:hidden;
        text-align: center;
    }
    div#chicken{
        border: 1px solid black;
        background-color: gray;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom:25px;
    }
    div#beef{
        border: 1px solid black;
        background-color: gray;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom:25px;
    }
    div#sushi{
        border: 1px solid black;
        background-color: gray;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom:25px;
    }
}